#ESTA REGLA AGREGA UNA LIGA SIMBOLICA AL UN DISCO DURO EXTERNO ADATA 
#CUANDO ES CONECTADO Y EJECUTA UN PROGRAMA prog_plug
SUBSYSTEM=="block", ACTION=="add", ATTRS{serial}=="03906113001300000045", SYMLINK+="disco_ADATA", RUN+="/usr/bin/prog_plug"

#ESTA REGLA EJECUTA UN PROGRAMA prog_unplug CUANDO EL DISCO DURO EXTERNO
#ADATA ES DESCONECTADO
SUBSYSTEM=="block", ACTION=="remove", ATTRS{serial}=="03906113001300000045", RUN+="/usr/bin/prog_unplug"

#ESTA REGLA AGREGA UNA LIGA SIMBOLICA A UN MODULO FTDI
SUBSYSTEM=="tty", ATTRS{serial}=="A501W2HL", SYMLINK+="usb_uart_FTDI"
