ACTION== "add", SUBSYSTEMS=="usb", ATTRS{serial}=="001D7D06CF09BFA1F92DAC07", SYMLINK+="usbmarco", RUN+="/root/scripts/logUsbMarco.sh"  OPTIONS+="last_rule"
